.navbar {
    max-height: 71px;
    background: var(--bg);
    height: 71px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    display: flex;
    justify-content: space-between;
}

.pull-right a {
    font-size: 1.275rem;
}

.pull-right a {
    color: #C6D0E9;
}

.pull-right {
    color: #CDDBF9;
    padding-right: 1rem;
}

.navbar h1 {
    color: var(--fg);
    font-family: var(--font2);
    font-weight: 700;
    font-size: 1.641rem;
    padding-left: 1rem;
}

.navbar h1:hover {
    cursor: pointer;
}