:root {
    --bg: #313449;
    --bar: #2C2E3E;
    --btn: #3D4059;
    --green: #B1DBA4;
    --blue: #CDDBF9;
    --fg: #C6D0E9;
    --orange: #E8CCA7;
    --yellow: #E6DFB8;
    --red: #EBB9B9;
    --shadow: #22292B6B;
    --font: 'Mali';
}

.App {
    height: 100%;
    width: 100%;
    margin: inherit;
    padding: inherit;
}


.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-float infinite 3s ease-in-out;
    }
}

.App-header {
    background: rgb(243, 242, 253);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

.App-link {
    color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}