.hero-container {
    font-size: calc(10px + 2vmin);
    background: var(--blue);
    color: var(--bg);
}

.hero-search-thingy {
    display: flex;
    justify-content: center;
    margin: 1.25rem;
}

.hero-search-thingy div input {
    border: none;
    background: #3D4059;
    font-size: 1.120rem;
    padding: 0.95rem;
    font-weight: 600;
    color: #dadfecd7;
}

@media screen and (max-width: 910px) {
    .hero-search-thingy {
        display: flex;
        flex-direction: column;
    }

    .hero-search-thingy div {
        margin: auto;
        display: flex;

    }

    .hero-search-thingy div input {
        width: 86vw;
    }

}

.hero-container h1 {
    padding: 1.25rem;
}


.hero-search-thingy div input::placeholder {
    color: #696c8b;
}

.search-hero-btn {
    background: var(--green);
    cursor: pointer;
    outline-offset: 4px;
    border: none;
    font-size: 1.25rem;
    padding: 0.90rem;
    color: #3D4059;

}