
.photo {
    position: relative;
    height: 100px;
    margin-bottom: 10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-card {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -10px 10px 35px -17px black;
    
}

.name {
    font-size: 25px;
    color: black;
    margin-top: 0px;
    margin-bottom: 5px;
}

.specialty {
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.city {
    font-size: 12px;
    margin-top: 0%;
}

.review {
    white-space: normal;
    padding: 5px;


    padding: 25px;
    margin-bottom: 10px;
    font-size: 12px;
    color: grey;
    
}

.info-card:hover {
    transform: scale(1.1);
}

.link {
    color: #696c8b;
    text-decoration: none;
}

.link:hover {
    color: blue;
    text-decoration: underline;
}
